@-webkit-keyframes shrinkWorkspace {
  from {
    width: calc(100% - 281px); }
  to {
    width: calc(100% - 681px); } }

@-moz-keyframes shrinkWorkspace {
  from {
    width: calc(100% - 281px); }
  to {
    width: calc(100% - 681px); } }

@-o-keyframes shrinkWorkspace {
  from {
    width: calc(100% - 281px); }
  to {
    width: calc(100% - 681px); } }

@keyframes shrinkWorkspace {
  from {
    width: calc(100% - 281px); }
  to {
    width: calc(100% - 681px); } }

@-webkit-keyframes expandWorkspace {
  from {
    width: calc(100% - 681px); }
  to {
    width: calc(100% - 281px); } }

@-moz-keyframes expandWorkspace {
  from {
    width: calc(100% - 681px); }
  to {
    width: calc(100% - 281px); } }

@-o-keyframes expandWorkspace {
  from {
    width: calc(100% - 681px); }
  to {
    width: calc(100% - 281px); } }

@keyframes expandWorkspace {
  from {
    width: calc(100% - 681px); }
  to {
    width: calc(100% - 281px); } }

@-webkit-keyframes expandNotes {
  from {
    width: 0px; }
  to {
    width: 400px; } }

@-moz-keyframes expandNotes {
  from {
    width: 0px; }
  to {
    width: 400px; } }

@-o-keyframes expandNotes {
  from {
    width: 0px; }
  to {
    width: 400px; } }

@keyframes expandNotes {
  from {
    width: 0px; }
  to {
    width: 400px; } }

@-webkit-keyframes shrinkNotes {
  from {
    width: 400px; }
  to {
    width: 0px; } }

@-moz-keyframes shrinkNotes {
  from {
    width: 400px; }
  to {
    width: 0px; } }

@-o-keyframes shrinkNotes {
  from {
    width: 400px; }
  to {
    width: 0px; } }

@keyframes shrinkNotes {
  from {
    width: 400px; }
  to {
    width: 0px; } }

.expand-notes {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: expandNotes;
  -moz-animation-name: expandNotes;
  -o-animation-name: expandNotes;
  animation-name: expandNotes; }

.shrink-notes {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: shrinkNotes;
  -moz-animation-name: shrinkNotes;
  -o-animation-name: shrinkNotes;
  animation-name: shrinkNotes; }

.expand-workspace {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: expandkWorkspace;
  -moz-animation-name: expandkWorkspace;
  -o-animation-name: expandkWorkspace;
  animation-name: expandkWorkspace; }

.shrink-workspace {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: shrinkWorkspace;
  -moz-animation-name: shrinkWorkspace;
  -o-animation-name: shrinkWorkspace;
  animation-name: shrinkWorkspace; }

.font-size-20 {
  font-size: 20px;
  font-weight: lighter; }

.margin-right-5 {
  margin-right: 5px; }

.cursor-pointer {
  cursor: pointer; }

.color-blue {
  color: #465efc; }

.search {
  float: right; }

.search-icon {
  font-size: 25px;
  color: #465efc; }

.wh-100, body .container {
  height: 100%;
  width: 100%; }

body {
  font-family: "Oxygen", sans-serif;
  background-color: white;
  margin: 0;
  position: relative; }
  body .container {
    overflow: auto; }
    body .container .sidebar {
      background-color: white;
      width: 280px;
      height: 100%;
      border-right: 0.5px solid #dedede;
      float: left;
      font-size: 15px; }
      body .container .sidebar .sidebar-icon {
        font-size: 20px;
        color: #465efc;
        margin-right: 15px; }
      body .container .sidebar .sidebar-header {
        box-sizing: border-box;
        padding-top: 17px;
        padding-left: 20px;
        width: 100%;
        height: 53px;
        max-height: 53px;
        border-bottom: 0.5px solid #dedede;
        display: flex; }
        body .container .sidebar .sidebar-header .profile-pic {
          margin-right: 15px; }
          body .container .sidebar .sidebar-header .profile-pic img {
            width: 30px;
            border-radius: 15px; }
        body .container .sidebar .sidebar-header .userName {
          width: 175px; }
      body .container .sidebar .sidebar-content ul {
        padding: 0;
        list-style-type: none;
        margin: 0;
        max-height: calc(100% - 104px);
        overflow: overlay; }
        body .container .sidebar .sidebar-content ul li {
          padding-top: 17px;
          padding-left: 20px;
          padding-right: 20px;
          overflow-x: hidden;
          box-sizing: border-box;
          height: 53px;
          border-bottom: 0.5px #dedede; }
        body .container .sidebar .sidebar-content ul .active {
          border-left: 5px solid #465efc; }
      body .container .sidebar .sidebar-content .sidebar-input {
        width: 100%;
        height: 100%;
        border: none; }
      body .container .sidebar .sidebar-content #list-adder {
        width: 100%;
        padding-top: 17px;
        padding-left: 20px;
        box-sizing: border-box;
        height: 53px;
        color: #465efc; }
    body .container #workspace {
      width: calc(100% - 281px);
      min-height: 100%;
      float: left;
      background-position: top;
      background-size: cover,1280px;
      background-image: linear-gradient(to right bottom, #765ee6, #1c9fff), url("https://todo-web-endpoint.azureedge.net/webapp/505b5d2c1defe8b04c8f9c1ac8f8399e84e3486afdaac9fc23a06783a5b139a3/beach/2560x1600.jpg");
      background-blend-mode: hard-light;
      z-index: -1;
      animation-fill-mode: forwards; }
      body .container #workspace .workspace-header {
        position: relative;
        height: 150px;
        overflow: hidden;
        color: white;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        box-sizing: border-box; }
        body .container #workspace .workspace-header .todo-header {
          position: absolute;
          bottom: 10;
          width: 65%;
          float: left; }
          body .container #workspace .workspace-header .todo-header input {
            width: 100%;
            height: 70px;
            border: none;
            background: transparent;
            font-size: 40px;
            border-radius: 10px;
            border: none;
            outline: none;
            padding-left: 10px;
            color: white; }
            body .container #workspace .workspace-header .todo-header input:focus {
              background: rgba(0, 0, 0, 0.22); }
        body .container #workspace .workspace-header .workspace-header-buttons {
          position: absolute;
          bottom: 20;
          right: 10;
          float: right;
          width: 165px;
          justify-content: space-between; }
          body .container #workspace .workspace-header .workspace-header-buttons .sort {
            background-color: #3e69e4;
            padding-top: 10px;
            padding-left: 15px;
            border-radius: 3px;
            height: 40px;
            width: 90px;
            font-size: 15px;
            font-weight: bold;
            box-sizing: border-box;
            float: left; }
          body .container #workspace .workspace-header .workspace-header-buttons .options {
            height: 40px;
            width: 45px;
            background-color: #3e69e4;
            padding-top: 10px;
            padding-left: 15px;
            border-radius: 3px;
            font-size: 20px;
            box-sizing: border-box;
            float: right; }
      body .container #workspace .todo-content-background {
        background-color: white;
        height: calc(100% - 150px); }
        body .container #workspace .todo-content-background .todo-content {
          min-height: 100%;
          background-color: white;
          background: linear-gradient(180deg, #fff, #fff 52px, #e5e5e5 0, #e5e5e5 0);
          background-size: 50px 53px;
          margin: 0 30px; }
          body .container #workspace .todo-content-background .todo-content .todo-list {
            max-height: calc(100% - 79px);
            overflow: overlay; }
            body .container #workspace .todo-content-background .todo-content .todo-list input {
              width: 100%;
              height: max-content;
              height: 52px;
              border: none;
              outline: none;
              border-radius: 4px;
              margin-bottom: 1px;
              background-color: white;
              font-size: 19px;
              padding-left: 15px;
              float: left; }
            body .container #workspace .todo-content-background .todo-content .todo-list div {
              width: 100%;
              height: 52px;
              margin-bottom: 1px;
              padding-top: 15px;
              padding-left: 10px;
              padding-right: 15px;
              border-bottom: 1px solid rgba(159, 157, 157, 0.25);
              background-color: white;
              font-size: 17px;
              box-sizing: border-box;
              cursor: pointer;
              position: relative; }
          body .container #workspace .todo-content-background .todo-content .add-todo {
            width: 100%;
            height: 52px;
            margin-bottom: 1px;
            padding-top: 15px;
            padding-left: 10px;
            padding-right: 15px;
            border-bottom: 1px solid rgba(159, 157, 157, 0.25);
            background-color: white;
            font-size: 17px;
            box-sizing: border-box;
            cursor: pointer;
            position: relative; }

#todo-type-div {
  width: 100%;
  padding: 0 !important; }

#todo-type-space {
  height: 52px;
  width: 90%;
  border: none;
  font-size: 17px;
  margin-left: 4px;
  outline: none; }
  #todo-type-space::placeholder {
    color: #465efc; }
  #todo-type-space:focus::placeholder {
    color: grey; }

#notes-div {
  position: absolute;
  width: 0px;
  height: 100%;
  z-index: 11;
  top: 0px;
  right: 0px;
  background-color: white;
  animation-fill-mode: forwards;
  overflow: hidden;
  border-left: 1px solid #dedede; }

#notes-div .header {
  position: relative;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 14px;
  font-size: 20px;
  font-variant: small-caps;
  color: white;
  background-color: #527cf2;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede; }

#notes-div .content {
  width: 100%;
  height: calc(100% - 50px);
  box-sizing: border-box;
  color: black;
  background-color: white;
  padding: 10px; }

#notes-div .content .note-content {
  width: 100%;
  height: 100%;
  position: relative; }

.note-list {
  width: 100%;
  height: max-content;
  max-height: calc(100% - 130px);
  overflow: overlay; }

.note-type-div {
  width: 100%;
  position: absolute;
  height: 125px;
  bottom: 0;
  background-color: white; }

#task-type-space {
  background-color: #ffffff;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 15px;
  width: 100%;
  border: 0.5px solid #dedede;
  box-shadow: 0 0 1px black; }

#note-type-space {
  min-width: 100%;
  min-height: calc(100% - 44px);
  max-width: 100%;
  max-height: calc(100% - 44px);
  background-color: white;
  border: none;
  margin-top: 4px;
  border: 0.5px solid #dedede;
  padding-left: 10px;
  box-shadow: 0 0 1px black; }

.note-list div {
  height: 50px;
  background-color: white;
  color: black;
  margin-top: 1px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 15px;
  box-sizing: border-box;
  border-bottom: 0.5px solid #dedede; }

#delete-icon {
  color: #cecece;
  float: right;
  font-size: 18px;
  cursor: pointer; }
  #delete-icon:hover {
    color: #f44336; }

#note-delete-icon {
  position: absolute;
  left: 360px;
  float: right;
  color: red;
  cursor: pointer; }

#note-icon {
  font-size: 9px;
  bottom: 5px;
  color: #7e7e7e;
  height: 10px;
  left: 30px;
  width: 15px;
  border: none;
  background: transparent;
  display: inline;
  position: absolute; }

.margin-left-10 {
  margin-left: 10px;
  color: #465efc; }

.sort-options {
  display: none;
  outline: none;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  width: 167px;
  height: max-content;
  top: 130px; }
  .sort-options::before {
    padding-left: 72px;
    font-family: 'FontAwesome';
    height: 20px;
    content: "\f0d8";
    background-color: transparent;
    display: block;
    font-size: 30px;
    margin-top: -10px;
    text-shadow: 5px 5px 13px #c5c5c5; }
  .sort-options .sort-content {
    overflow: hidden;
    border: 0.5px solid #dedede;
    border-top: none;
    border-radius: 10px;
    transform: translateX(-71px);
    box-shadow: 5px 5px 13px #c5c5c5; }
    .sort-options .sort-content div {
      cursor: pointer;
      padding-left: 20px;
      padding-top: 10px;
      box-sizing: border-box;
      height: 40px;
      width: 100%;
      background-color: white;
      color: black; }
