$white-background : white;
$sidebar-color : white;
$sidebar-border-color : #dedede;
$border: 0.5px solid $sidebar-border-color;
$hidden-border: 0.5px $sidebar-border-color;
$sidebar-element-height: 53px;
$font-family: 'Oxygen', sans-serif;
$sidebar-font-size: 15px;
$theme-color: #465efc;
$delete-icon-color: #cecece;
$delete-icon-hover-color: #f44336;

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }

}
@mixin animate($name, $duration) {
-webkit-animation-duration: $duration;
-moz-animation-duration: $duration;
-o-animation-duration: $duration;
  animation-duration: $duration;
-webkit-animation-name: $name;
-moz-animation-name: $name;
-o-animation-name: $name;
  animation-name: $name;
}

@include keyframes(shrinkWorkspace) {
  from {
    width: calc(100% - 281px);
  }
  to {
      width: calc(100% - 681px);
  }
}

@mixin shrinkWorkspace{
  @include animate(shrinkWorkspace, 0.5s);
}

@include keyframes(expandWorkspace) {
  from {
     width: calc(100% - 681px);
  }
  to {

    width: calc(100% - 281px);
  }
}

@mixin expandWorkspace{
  @include animate(expandkWorkspace, 0.5s);
}

@include keyframes(expandNotes) {
  from {
    width: 0px;
  }
  to {
    width: 400px;
  }
}

@mixin expandNotes {
  @include animate(expandNotes, 0.5s);
}

@include keyframes(shrinkNotes) {
  from {
    width: 400px;
  }
  to {
    width: 0px;
  }
}

@mixin shrinkNotes {
  @include animate(shrinkNotes, 0.5s);
}

.expand-notes {
    @include expandNotes;
}

.shrink-notes {
    @include shrinkNotes;
}

.expand-workspace {
  @include expandWorkspace;
}

.shrink-workspace {
  @include shrinkWorkspace;
}

.font-size-20 {
  font-size: 20px;
  font-weight: lighter;
}

.margin-right-5 {
  margin-right: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.color-blue {
  color: $theme-color;
}

.search {
  float: right;
}

.search-icon {
  font-size: 25px;
  color:$theme-color;
}

.wh-100 {
   height: 100%;
   width: 100%;
}

body {
  font-family: $font-family;
  background-color: $white-background;
  margin: 0;
  position: relative;

  .container {
    overflow: auto;
    @extend .wh-100;

    .sidebar {
      background-color: $sidebar-color;
      width : 280px;
      height : 100%;
      border-right: $border;
      float: left;
      font-size: $sidebar-font-size;

      .sidebar-icon {
        font-size: 20px;
        color: $theme-color;
        margin-right: 15px;
      }

      .sidebar-header {
        box-sizing: border-box;
        padding-top: 17px;
        padding-left: 20px;
        width: 100%;
        height: 53px;
        max-height: $sidebar-element-height;
        border-bottom : $border;
        display: flex;
        .profile-pic {
          margin-right: 15px;
          img {
            width: 30px;
            border-radius: 15px;
          }
        }
        .userName {
          width: 175px;
        }
      }
      .sidebar-content {
        ul {
          padding: 0;
          list-style-type: none;
          margin: 0;
          max-height: calc(100% - 104px);
          overflow: overlay;
          li {
            padding-top: 17px;
            padding-left: 20px;
            padding-right: 20px;
            overflow-x: hidden;
            box-sizing: border-box;
            height: $sidebar-element-height;
            border-bottom: $hidden-border;
          }
          .active {
              //background-color: #ebebeb;
              border-left: 5px solid $theme-color;
          }
        }

        .sidebar-input {
          width:100%;
          height: 100%;
          border: none;
        }

        #list-adder {
          width: 100%;
          padding-top: 17px;
          padding-left: 20px;
          box-sizing: border-box;
          height: $sidebar-element-height;
          color: $theme-color;
        }
      }
    }
    #workspace {
      width: calc(100% - 281px);
      min-height: 100%;
      float: left;
      background-position: top;
      background-size: cover,1280px;
      background-image: linear-gradient(to right bottom, rgb(118, 94, 230), rgb(28, 159, 255)),url("https://todo-web-endpoint.azureedge.net/webapp/505b5d2c1defe8b04c8f9c1ac8f8399e84e3486afdaac9fc23a06783a5b139a3/beach/2560x1600.jpg");
      background-blend-mode: hard-light;
      z-index: -1;
      animation-fill-mode: forwards;
      .workspace-header {
        position: relative;
        height: 150px;
        overflow: hidden;
        color: $white-background;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        box-sizing: border-box;
        .todo-header {
          position: absolute;
          bottom: 10;
          width: 65%;
          float: left;
          input {
            width: 100%;
            height: 70px;
            border: none;
            background: rgba(0, 0, 0, 0);
            font-size: 40px;
            border-radius: 10px;
            border: none;
            outline: none;
            padding-left: 10px;
            color: $white-background;
            &:focus {
              background: rgba(0, 0, 0, 0.22);
            }
          }
        }
        .workspace-header-buttons {
          position: absolute;
          bottom: 20;
          right: 10;
          float: right;
          width: 165px;
          justify-content: space-between;
          .sort {
            background-color: #3e69e4;
            padding-top: 10px;
            padding-left: 15px;
            border-radius: 3px;
            height: 40px;
            width: 90px;
            font-size: 15px;
            font-weight: bold;
            box-sizing: border-box;
            float: left;
          }
          .options {
            height: 40px;
            width: 45px;
            background-color: #3e69e4;
            padding-top: 10px;
            padding-left: 15px;
            border-radius: 3px;
            font-size: 20px;
            box-sizing: border-box;
            float: right;
          }

        }
      }
      .todo-content-background {
        background-color: $white-background;
        height: calc(100% - 150px);
        .todo-content {
          min-height: 100%;
          background-color: $white-background;
          background: linear-gradient(180deg,#fff,#fff 52px,#e5e5e5 0,#e5e5e5 0);
          background-size: 50px 53px;
          margin: 0 30px;
          .todo-list {
            max-height: calc(100% - 79px);
            overflow: overlay;
            input {
              width: 100%;
              height: max-content;
              height: 52px;
              border: none;
              outline: none;
              border-radius: 4px;
              margin-bottom: 1px;
              background-color: $white-background;
              font-size: 19px;
              padding-left: 15px;
              float: left;
            }
            div {
              width: 100%;
              height: 52px;
              margin-bottom: 1px;
              padding-top: 15px;
              padding-left: 10px;
              padding-right: 15px;
              border-bottom: 1px solid rgba(159, 157, 157, 0.25);
              background-color: $white-background;
              font-size: 17px;
              box-sizing: border-box;
              cursor: pointer;
              position: relative;
            }
          }
          .add-todo {
            width: 100%;
            height: 52px;
            margin-bottom: 1px;
            padding-top: 15px;
            padding-left: 10px;
            padding-right: 15px;
            border-bottom: 1px solid rgba(159, 157, 157, 0.25);
            background-color: $white-background;
            font-size: 17px;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
          }
        }
      }
    }
  }
}

#todo-type-div {
  width: 100%;
  padding: 0 !important;
}

#todo-type-space {
  height: 52px;
  width: 90%;
  border: none;
  font-size: 17px;
  margin-left: 4px;
  outline: none;
      &::placeholder {
        color: $theme-color;
      }
      &:focus {
        &::placeholder {
          color: grey;
        }
      }
}

#notes-div {
  position: absolute;
  width: 0px;
  height: 100%;
  z-index: 11;
  top: 0px;
  right: 0px;
  background-color: $white-background;
  animation-fill-mode: forwards;
  overflow: hidden;
  border-left: 1px solid #dedede;
 }

 #notes-div{
   .header {
     position: relative;
     width: 100%;
     height: 50px;
     box-sizing: border-box;
     padding-left: 15px;
     padding-top: 14px;
     font-size: 20px;
     font-variant: small-caps;
     color: white;
     background-color: #527cf2;
     box-sizing: border-box;
     border-bottom: 1px solid #dedede;
   }
 }

 #notes-div .content {
  width: 100%;
  height: calc(100% - 50px);
  box-sizing: border-box;
  color: black;
  background-color: $white-background;
  padding: 10px;
 }

#notes-div .content .note-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.note-list {
    width: 100%;
    height: max-content;
    max-height: calc(100% - 130px);
    overflow: overlay;
}

.note-type-div {
  width: 100%;
  position: absolute;
  height: 125px;
  bottom: 0;
  background-color: $white-background;
}

#task-type-space {
  background-color: #ffffff;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 15px;
  width: 100%;
  border: $border;
  box-shadow: 0 0 1px black;
}

#note-type-space {
  min-width: 100%;
  min-height: calc(100% - 44px);
  max-width:  100%;
  max-height: calc(100% - 44px);
  background-color: $white-background;
  border: none;
  margin-top: 4px;
  border: $border;
  padding-left: 10px;
  box-shadow: 0 0 1px black;
}

.note-list div {
  height: 50px;
  background-color: $white-background;
  color: black;
  margin-top: 1px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 15px;
  box-sizing: border-box;
  border-bottom: $border;
}

#delete-icon {
    color: $delete-icon-color;
    float: right;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      color: $delete-icon-hover-color;
    }
}

#note-delete-icon {
  position: absolute;
  left: 360px;
  float: right;
  color: red;
  cursor: pointer;
}

#note-icon {
  font-size: 9px;
  bottom: 5px;
  color: #7e7e7e;
  height: 10px;
  left: 30px;
  width: 15px;
  border: none;
  background: transparent;
  display: inline;
  position: absolute;
}

.margin-left-10 {
  margin-left: 10px;
  color: $theme-color;
}

.sort-options {
  display:none;
  outline: none;
    position: fixed;
    z-index: 1;
    background-color:transparent;
    width: 167px;
    height: max-content;
    top: 130px;
    &::before {
      padding-left: 72px;
      font-family: 'FontAwesome';
      height: 20px;
    content: "\f0d8";
    background-color: transparent;
    display: block;
    font-size: 30px;
    margin-top: -10px;
    text-shadow:  5px 5px 13px rgb(197, 197, 197);
    }
    .sort-content {
      overflow: hidden;
      border: $border;
      border-top: none;
      border-radius: 10px;
      // transform: translateX(-144px);
      transform: translateX(-71px);
      box-shadow: 5px 5px 13px rgb(197, 197, 197);
    div {
      cursor: pointer;
      padding-left: 20px;
      padding-top: 10px;
      box-sizing: border-box;
      height: 40px;
      width: 100%;
      background-color: white;
      color: black;
    }
  }
}
